@import "tailwindcss";

:root {
  --background: #ffffff;
}

@utility container{
  @apply mx-auto px-5;
}

@theme{
  --font-vazir:'vazir';
  --font-vazirbold:'vazirbold';
}


@font-face {
  font-family: "vazir";
  src: local("vazir"), url("../public/fonts/Vazir-Regular.ttf") format("truetype");
  font-display:swap;
}
@font-face {
  font-family: "vazirbold";
  src: local("vazirbold"), url("../public/fonts/Vazir-Bold.ttf") format("truetype");
  font-display:swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'vazir';
}

.custom-pagination .swiper-pagination-bullet {
  width: 24px;
  height: 4px;
  background-color: #199A8E;
  border-radius: 2px;
  opacity: 30%;
  transition: all 0.3s;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 40px;
  background-color: #199A8E;
  opacity: 100%;
}

.customSwiperTwo .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
}

.customSwiperTwo .swiper-pagination-bullet-active {
  background-color: #199A8E;
}
